* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Arsenal', sans-serif;
    outline:none;
}
button{
    outline: none;
}
.page-link:focus{
    box-shadow:  0 0 0.2rem rgba(255, 255, 255, 0.25)!important
}
.locDLTheoTrang{
    overflow: hidden;
    
}
.pagination{
    float: right;
    margin: 1rem;
}
.sidebarMenu #menu-left {
    max-width: 250px;
    height: 100%;
    position: fixed;
    background: white;
    text-align: center;
    z-index: 9999;
    /* background: #090D14; */
    box-shadow: 0px 0px 8px black; 
}

.sidebarMenu #menu-left .menu-left__admin-img {
    padding: 1.5rem;
    /* background: #060E1E; */
    background: linear-gradient(180deg, #3A3897, #A3A1FF, white);
    /* box-shadow: -15px 0px 16px black; */
    /* background: linear-gradient(to bottom, #65C4d8 20%, #ffff 100%); */
}

.sidebarMenu #menu-left .menu-left__admin-img .admin-img--style {
    padding: 4rem 1.5rem;
    background: white;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 0 0 10px rgb(95, 155, 245);
}
.admin-name--style{
    /* color: white; */
    color: black;
    padding-top: 1rem;
    text-shadow: 2px 0px 2px blue;
    font-size: 36px;
}
.quyen{
    color: #3E3C9B;
    font-size: 1.2rem;
}
.sidebarMenu #menu-left .menu-left__admin-img .admin-img--style img {
    max-width: 50%;
    height: auto;
} 
.sidebarMenu #menu-left .menu-left__nav{
    text-align: left;
}
.sidebarMenu #menu-left .menu-left__nav .nav-item{
    padding: .5rem 1rem 0;
}
.sidebarMenu #menu-left .menu-left__nav .nav-item .item{
    font-size: 1.2rem;
    color: #253F58;
}
.sidebarMenu #menu-left .menu-left__nav .nav-item .item-one__menu{
    display: none;
}
.menu_section>ul {
    margin-top: 10px;
}
ul.nav {
    padding-left: 0rem;
    margin-bottom: 0;
    list-style: none;

}
.nav.side-menu>li {
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}
.nav.side-menu>li a{
    font-size: 1.5rem;
    padding: .5rem;
    color: white; 
    font-weight: 600;
}
.nav.side-menu>li.title>p, .nav.side-menu>li.title>a{
    font-size: 1.4rem;
    padding: .5rem;
    margin-bottom: 0; 
    color: white;
    border-radius: 20px 0 0 20px;
    width: 92%;
    display: inline-block;
    position: relative;
    right: -20px;
    /* background: #253F58; */
    background: linear-gradient(90deg, #3A3897, #A3A1FF);
}
.nav.side-menu>li p i, .nav.side-menu>li a i{
    padding-right: .5rem;
}
.nav.side-menu>li p span, .nav.side-menu>li a span{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1rem;
}
.nav.child_menu { 
    height: 0;
    overflow: hidden;
}
.nav.child_menu li{
    padding:0.2rem 2rem; 

    position: relative;
}
.nav ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 8px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}
.nav.child_menu>li>a {
    /* color: rgba(255,255,255,.75); */
    color: black;
    font-size: 1.2rem;
    padding: 9px;
}
ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 26px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 2px;
}
.nav.side-menu>li.active> a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    /* background: linear-gradient(#334556,#2C4257),#2A3F54; */
    background: linear-gradient(90deg, #3A3897, #A3A1FF);
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    display: block;
    border-radius: 20px 0 0 20px;
    width: 92%;
    display: inline-block;
    position: relative;
    right: -20px;
}
.nav .side-menu>li>a{
    display: block;
    border-radius: 20px 0 0 20px;
    width: 92%;
    display: inline-block;
    position: relative;
    right: -20px;
}
#bangbieu:hover p, #sinhvien:hover p, #lophoc:hover p, #admin:hover p{
    width: 98%!important; 
    right: -5px;
    transition: 0.5s; 
    /* border-radius: 0px 0 0 0px; */
} 
#bangbieu .bangbieu-menu{ 
    /* height: 120px;  */
    height: 0; 
    transition: 0.5s;
    /* transition-delay: 1s; */
}
#lophoc .lophoc-menu{
    /* height: 120px; */
    height: 0; 
    transition: 0.5s;
}
#sinhvien .sinhvien-menu{
    /* height: 100px; */
    height: 0; 
    /* overflow: block!important; */
    transition: 0.5s;
}
#admin .admin-menu{
    /* height: 100px; */
    height: 0; 
    /* overflow: block!important; */
    transition: 0.5s;
}
/* ..........menu top............ */
.content-inner-all{
    margin-left: 250px;
}
.content-inner-all .menu-top{
    width: 100%;
}
.content-inner-all .menu-top .menu-top--fix{
    /* background: linear-gradient(to right,#253F58 1%, #65C4d8 20%, #DAB2D3 100%);     */
    /* background: linear-gradient(to right,#090D14 1%, #060E1E 20%, #253F58 100%);     */
    background: linear-gradient(90deg, #3A3897, #A3A1FF);

    /* background: #060E1E; */
    line-height: 60px;
    /* position: fixed; */
    position: absolute;
    top:0;
    right: 0;
    left: 250px;
    box-shadow: 8px 0 8px black;
    z-index: 9999;
}
.content-inner-all .menu-top .menu-top--fix .menu-top__contact ul{
    list-style: none;
    margin-bottom: 0;
    /* padding-right: 6rem; */
    text-align: right
}
.content-inner-all .menu-top .menu-top--fix .menu-top__contact ul>li{
    display: inline;
    position: relative;

}
.content-inner-all .menu-top .menu-top--fix .menu-top__contact ul>li>a>i{
    /* color: blue; */
    color: white;
    font-size: 1.5rem;
}
.content-inner-all .menu-top .menu-top--fix .menu-top__contact ul>li>a>span.bring{
    background: red;
    color: white;
    position: absolute;
    top: 20px;
    right: 5px;
    box-shadow: 0 0 3px yellow;
    line-height: 16px;
    padding: 0px 6px;
    font-size: 10px;
    border-radius: 23px 17px 18px 0;
    font-weight: bold;
}
.menu-top__contact ul>li>a> .admin-img--style{
    width: 50px;
    display: inline-block;
    height: 50px;
}
.menu-top__contact ul>li>a> img{
    width: 50px;
    display: inline-block;
    height: 50px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    line-height: 46px;
}
.menu-top__contact ul>li>a> .admin-profile{
    color: white;
    width: 100px;
    font-size: 17px;
    position: absolute;
    top: 0;
    line-height: 1.5;
    margin-left: .5rem;
    text-align: left;
}
.menu-top__contact ul>li>a:hover{
    color: white;
    text-shadow: 2px 0 2px black;
    transition: 0.4s;
}
.content-inner-all .nav-menu-title{
    width: 100%;
    height: 80px;
    padding: 1rem 2rem;
}
.content-inner-all .nav-menu-title .menu-title__link{
    background: rgb(222, 241, 245);
    padding: 1rem;
    position: relative;
}
.content-inner-all .nav-menu-title .menu-title__link .title__link_hello{
    position: absolute;
    top: -10px;
    left: 2rem;
    padding: .5rem; 
    background: #253F58;
    color:white;
}
.content-inner-all .nav-menu-title .menu-title__link .title__link_hello:before{
    content: '';
    top: 0;
    left: -10px;
    position: absolute;
    border-top: 10px solid white;
    border-right: 10px solid black;
}
.input-search--style{
    margin-bottom: 0!important;
    margin-top: 10px;
}
.input-search--style input{
    border-radius:30px 30px;
    box-shadow: 0 0 5px white;
    border: none; 
}
.menu-bars i{
    color: white;
    font-size: 2rem;
    line-height: 50px;
    cursor: pointer;
}
.input-search--style .input-group-append button{
    border-radius:0 30px 30px 0;
    box-shadow: 0 0 5px white;
    border: none; 
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: white!important;
    outline: 0;
    box-shadow: 0 0 0 0rem white!important;
}
.input-search--style input:focus{
    border-radius: 30px 30px;
    box-shadow: 0px 2px 5px rgb(184, 184, 238)!important;
    border: none;
    border-bottom: 2px solid #060E1E!important;
} 
.btn-submit--style{
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 0 30px 30px 0!important;
    box-shadow: 0px 2px 5px rgb(184, 184, 238)!important;
    border: none;
    border-bottom: 2px solid #060E1E!important;
    z-index: 10;
}
/* .................body................... */
#body-content{
    position: absolute;
    top: 80px;
    right: 0;
    left: 250px; 
    background: #f3f2f2;
    /* background: linear-gradient(-90deg, #3A3897, #A3A1FF); */
 
}
h1{
    /* color: white */
}
.chuc-nang-them{ 
    position: absolute;
    top: -54px;
    right: -1px;
    box-shadow: 2px -4px 7px -2px #9f9e9e;
    /* border: 1px solid #d8d8f9; */
    /* border-bottom: 0; */
    padding: 1rem 1rem 0.5rem 1rem;
    z-index: 0;
    background: white;
    border-radius: 25px 25px 0 0;
}
.chuc-nang-them ul{
    /* width: 500px; */
    /* margin-bottom: 0.2rem; */
    display: inline;
    /* border: 1px solid #aba4a4; */
    /* padding: 9px 5px 10px; */
    /* background: linear-gradient(to bottom, #9F9DFB, white, #9F9DFB); */
    border: 3px solid white;
    padding: 9px 5px 10px;
    background: white;
    box-shadow: 0px -3px 4px #bdbaba;
    border-radius: 20px 20px 0 0!important;
}
.chuc-nang-them ul>li i{
    color: #3A3897;
    margin-left: 0.5rem;
}
/* .chuc-nang-them ul>li a:hover{
    background: white;
    box-shadow: 0px 0px 3px black;
    transition: .2s;
} */
.chuc-nang-them ul>li a{
    padding: 0px 9px 2px 4px;
    background: white;
    box-shadow: 0px 0px 3px black;
    border: 2px solid #c4bfb5;
    overflow: hidden;
}
.chuc-nang-them ul>li a:focus, a:visited{ 
    /* border: 2px solid #7aa6d6; */
    box-shadow: 0px 0px 4px blue;

}
.btn-an-cot--style{
    padding: 0px 17px 1px 0px;
    background: white;
    box-shadow: 0px 0px 3px black;
    border-radius: 1px;
    border: 2px solid #c4bfb5!important;
    border: 0;
    position: relative;
}
.btn-an-cot--style:after{
    content: '\261F';
    position: absolute;
    right: 0;
}
ul.dropdown-menu{
    position: absolute;
    top: 34px;
    left: 130px;
    right: 3px;
    background: unset!important;
    background: white!important; 
    overflow-y: scroll;
    height: 130px;
    display:none;
}
ul.dropdown-menu>li{
    display: block!important;
    padding: 5px!important;
}
.search-data-table{
    box-shadow: 0px 0px 3px #9f9e9e;
    border: 0;
    height: 30px;
    width: 230px;
}
.chuc-nang-them .title-caption{
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to bottom, #253F58, rgb(71, 119, 165), #253F58);
    /* background: linear-gradient(to bottom, #65C4d8 20%, #ffff 100%); */
    padding: 0.4rem 1rem;
    position: relative;
    top: -13px;
    left: 22px;
}
.chuc-nang-them .title-caption:after{
    content: "";
    left: -10px;
    position: absolute;
    top: 0px;
    border-top: 11px solid transparent;
    border-right: 10px solid #090D14;
}
.chuc-nang-them ul>li{
    display: inline;
    padding: 0.5rem .5rem;
}
.chuc-nang-them ul>li>span:after{
    position: absolute;
    content: "/";
    right: -6px;
    top: -3px;
}
.chuc-nang-them ul>li>span{
    position: relative;
    cursor: pointer;
}
.chuc-nang-them ul>li:nth-child(1){
    font-weight: bold;
    /* position: unset; */
}
.table-header--style{
    /* background: linear-gradient(to bottom, #3A3897, rgb(71, 119, 165), #253F58); */
    background: linear-gradient(180deg, #3A3897, #A3A1FF);
    /* background: #3A3897; */
    color: white;
    border: 0;
}
.table-responsive{
    /* background: linear-gradient(40deg, #3A3897, #A3A1FF); */
    padding: 0.5rem;
    background: white
}
/* ......button.......... */
.button-them--style{
    position: relative;
    top: 32px; 
    border: none;
    overflow: hidden;
}
.button-dieu-chinh .button--style{
    padding: 6px 12px;
    margin-right: 2px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 25%;
    transform: translateX(-50%);
}
.button-dieu-chinh .button--style i{
    color: black;
}
.button-dieu-chinh .btn-update{
    background: white;
    /* border: 1px solid #7b7e9f; */
}
.button-dieu-chinh .btn-delete, .btn-update{
    background: radial-gradient(circle,#E52E2D, #F8EA1F);
    /* border: 1px solid #7b7e9f; */
    box-shadow: -2px 2px 3px black;
}
.button--xoa{
    border: 0;
    background: #602ff7;
    padding: 2px 10px;
    color: white;
}
.btn-update:hover{
    box-shadow:0px 0px 5px 2px #495057;
    border: 0;
    background: #3A3897!important;
    transition: all .2s
}
.btn-update:hover i{
    color: white!important;

}
.classButtonCapNhat{
    transition: .4s;
    box-shadow: unset!important;
    background: radial-gradient(circle, #9F9DFB, #3E3C9B )!important;
}
.classButtonCapNhat i{
    color: white!important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
    left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input.default:checked + .slider {
    background: linear-gradient(to right, #9F9DFB, #3E3C9B);
  } 
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.table{
    margin-bottom: 0!important;
}
.tableTKB{
    box-shadow: 0 0 7px #9f9e9e;
    background: white;
    position: relative;
    margin-bottom: 2rem;
    /* top: 45px; */
    /* border: 1px solid #d8d8f9; */
}
.tableTKB .table td, .table-bordered th {
    padding-bottom: 0.5rem;
}
.content-title{
    margin: 1.5rem 0;
    box-shadow: 0 0 7px #9f9e9e;
    padding-top: 12px;
    background: white;
    padding: 1rem;
}
.h1-title-style{
    
    color: rgba(67, 65, 185, 0.514);
    letter-spacing: 2px;
    text-shadow: 4px 0px 2px #A3A1FF;
    font-size: 3rem;
    text-transform: capitalize;

}
.th-button--style{
    width: 104px;
}
.kitu-dacbiet{
    position: relative;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}
.kitu-dacbiet::before{
    position: absolute;
    content: '\2619';
    left: -28px;
}
.kitu-dacbiet::after{
    position: absolute;
    content:'\2767';
    right: -28px;
}
/* .....form.......... */
.form-content{
    background: white; 
    box-shadow: 0 0 10px #9f9e9e;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 20px;
}
.form-content label{
    display: block!important;
    margin-bottom: .5rem;
    text-align: left; 
    /* margin-top: 32px; */
    font-size: 1.2rem;
    font-weight: 600;
    color: #060E1E;
}
.table thead th {
    font-size: 1.3rem;
}
.table td, .table td>p {
    font-size: 1.2rem;
}
input.input-nhap--style, select.input-nhap--style{
    width: 100%;
    border: 1px solid #dadada !important;
    box-shadow: 0px -1px 2px #d6d6d6;
    background: #f5f6f7a6;
    /* border-radius: 4%; */
    font-size: 1.2rem!important;
    font-weight: 100;
    padding: .5rem 1rem !important;
}
/* input:active, input:focus, input :target{
    width: 74%;
    border: 2px solid transparent!important;
    border-bottom: 2px solid!important;
    border-radius: 5%;
    box-shadow: unset!important;
} */
input.input-nhap--style:hover {
    width: 100%;
    border: 1px solid #ccc!important;  
    box-shadow: unset!important;
    transition: .4s;
}
.input-profile--style{
    border: 2px solid transparent!important;
    border-bottom: 2px solid!important;
    border-radius: 5%!important;
    box-shadow: unset!important;
    width: 74%;
    font-size: 1.5rem;
} 
.button-default--style{
    padding: .5rem 2rem;
    border-radius: 0;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    margin:2rem;
}
.button-thaotac--style{
    background: #d8d8f9;
    color: black;
    border: 0;
}

.button-thaotac--style:hover{
    background: #3A3897;
    color: white;
    box-shadow: 0 0 5px #9f9e9e;
    transition: .4s;
}
.button-thoat--style{
    background: white;
    border: 1px solid #d8d8f9;
    color: black;
    box-shadow: 0 0 5px #9f9e9e;
}
.button-thoat--style:hover{
    background: rgb(255, 80, 80);
    color: white;
    box-shadow: none;
    transition: .4s;
}
.none{
    display: none;
}
.hinhAdmin--style{
    width: 170px;
    height: 191px;
    box-shadow: 0 0 5px;
    background: white;
    padding: 0 0.5rem;
} 
td.monhoc-giaovien{
    width: 200px;
}
.wrapper-admin{
    width: 100%;
    height:100vh;
    background: url("./img/caothang.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: linear-gradient(40deg, #3A3897 0%, #A3A1FF 100%); */

}
.background-admin{
    height: 100%;
    position: relative;
    background: rgba(221, 184, 255, 0.4);
}
.trangdangnhap{
    width: 500px;
    height: 550px;
    background: white;
    box-shadow: 0 0 10px 2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
.admin-img{
    height: 54%;
}
.button-dangnhap{
    padding: 1rem 2rem;
    text-align: center;
}
.button-dangnhap input{
    width: 100%;
    height: 48px;
    margin: 1rem 0;
    padding: 8px;
    font-size: 1.5rem;
    border: 2px solid #7472d0;
}
.input--style{
    position: relative;
}
.quen-mat-khau--style{
    line-height: 42px;
    float: left;
    overflow: hidden;
    font-weight: bold;
    color: rgba(47, 0, 229, 0.92);
}
div:hover a{
    transition: all 0.5s!important;
    
}
.input--style .spanTenTK, .input--style .spanMatKhau, .spanMatKhauMoi, .spanNhapLaiMatKhau {
    position: absolute;
    background: white;
    left: 4rem;
    font-weight: 600;
    padding: 0 10px;
    font-size: 1.2rem;
}
.spanTenTK--style, .spanMatKhau--style, .spanMatKhauMoi--style, .spanNhapLaiMatKhau--style{ 
    top: 5px;
    font-size: 0.9rem!important;
    transition: all 0.5s;
}
.inputTenTK--style, .inputMatKhau--style, .inputMatKhauMoi--style, .inputNhapLaiMatKhau--style{ 
    border: 1px solid blueviolet!important; 
    transition: all 0.2s;
}
.button-login--style{
    background: linear-gradient(40deg, #3A3897, #A3A1FF 0%, #2b43e2);
    font-size: 1.2rem;
    padding: .5rem 2rem;
    color: white;
    border: 0;  
}
.button-login--style:hover{
    background: linear-gradient(-40deg, #3A3897, #A3A1FF 0%, #2b43e2)!important;
    color: white;
    box-shadow:  0 0 10px #c4bfb5;
    transition: all 0.5s;
}
.admin-img{
    padding: 2rem;
    text-align: center;
    /* background: url('./img/tuxedo.png'); */
    /* background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 2px; */
}

/* ---admin profile---- */
.profile-img{
    width: 250px; 
    margin-left: 5rem;
}
.profile-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #8888ca;
    box-shadow: 0 0 10px #847484;
}
.profile-info{
    text-align: left;
    margin-left: 6.5rem;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
.profile-info>.info-name{
    font-size: 2.6rem;
    font-weight: bold;
    color: #3A3897;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.profile-info>span, .profile-info>a.email{
    font-weight: 600;
    font-size: 1.2rem;
}
.form-group{
    margin-top: 32px;
    position: relative;
}
.mess-err{
    position: absolute;
    right: 0;
    color: red;
    bottom: -33px;
    margin-bottom: 0;
}
.account-profile{
    font-weight: 600;
    font-size: 1.4rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
    /* float: left; */
    margin: 0 5rem;
    padding-top: 2rem;
}
.admin-profile .form-content label{
    font-weight: 100!important;
}
.doi-mat-khau{
    text-decoration: underline;
}
.sua-profile{
    background: white;
    border: 0;
    box-shadow: 5px 5px 4px -3px #8888ca;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    /* font-weight: 600; */
    outline: none;
}
.sua-profile>i{
    margin-right: 5px;
}
.sua-profile:hover{
    transition: .5s;
    background: #8888ca;
    box-shadow: 0px 0px 3px 1px #b69bc4;
    border-radius: 0px!important;
    color: white;
    /* font-weight: 600; */
}
.sua-anh{
    background: #8888ca;
    box-shadow: 0px 0px 3px 1px #b69bc4;
    border-radius: 0px!important;
    color: white;
    margin: 1rem;
    border: 0;
    padding: 0.2rem 1rem;
    
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block; 
}

.upload-btn-wrapper input[type=file] { 
    width: 150px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
input[type=radio]{
    margin: 10px 20px!important;
    transform: scale(2);
}
#DoiMatKhau{
    padding-top: 8%;
    background: rgba(0,0,0,.8);
    z-index: 999;
}
#DoiMatKhau .modal-title {
    display: inline;
    width:100%;
    font-weight: bold;
}
/* -----header---- */
.admin-header{
    width: 220px; 
    height: 200px;
    background: white;
    position: absolute;
    right: 0;
    top: 75px;
    box-shadow: 0 3px 7px -2px black;
    /* display: none */
} 
.bring-header{
    overflow-y: scroll;
    width: 320px;
    /* height: 500px; */
    overflow-x: scroll;
    background: white;
    position: absolute;
    right: 0;
    top: 75px;
    box-shadow: 0 3px 7px -2px black;
}
.admin-setting, .bring-setting{ 
    height: 100%;
    display: inline-block!important;
}
.admin-header>ul>li, .bring-header>ul>li {
    display: inline-block!important;
    width: 100%;
    text-align: left;
    padding: 0 1rem;
    height: 40px;
    /* line-height: 10px; */
}
.thongbao{
    display: block;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #dcdfe1cc;

}
.thongbao-right, .thongbao-left{
    position: relative;
}
.thongbao:hover{
    background: #efefef;
    transition: all 0.5s;
}
.thongbao-left>i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.2rem;
    background: #33529921;
    border-radius: 50%;
    color: #8888ca;
    border: 1px solid;
    font-size: 23px;
}
.admin-header>.thongbao span, .bring-header>.thongbao span{
    font-size: 1.2rem;
    font-weight: 600;
    color: #0500e1;
    text-shadow: 1px 0px 1px #6d71e9;
    position: absolute;
    height: 100%;
}
.admin-header>.thongbao span{
    line-height: 100px; 
}
.bring-header>.thongbao span:nth-child(2){
    top: 40px;
}
.admin-header>ul>li>a>i, .bring-header>ul>li>a>i{ 
    color: #060E1E!important; 
    padding-right: 20px
}
.admin-header>ul>li>a:hover, .bring-header>ul>li>a:hover{ 
    color: #060E1E!important; 
    text-shadow: 2px 0 1px #3A3897;
}  
.thongbao{
    overflow: hidden;
}
.thongbao-left{
    float: left;
    display: inline-block;
    width: 30%;
    height: 100px;
}
.admin-header .thongbao-left{
    float: left;
    display: inline-block;
    width: 44%;
    height: 100px;
}
.admin-header .thongbao-right{
    float: left;
    display: inline-block;
    width: 45%;
    height: 100px;
    text-align: left;
}
.thongbao-right{
    float: left;
    display: inline-block;
    width: 70%;
    height: 100px;
    text-align: left
}
.p--style-label{ 
    margin-bottom: .5rem; 
    font-size: 1.3rem;
    font-weight: 600;
    color: #060E1E;
}
.margin-top{
    margin-top: 8px
}
.btn-taodong{
    padding: .6rem .9rem;
    border: 0;
    box-shadow: 0px 2px 5px rgb(184, 184, 238)!important;
    background: linear-gradient(45deg, #3A3897, #A3A1FF, white);
    color: white;
    font-weight: 600;
    transition: all 0.5s; 
}
.btn-taodong:hover{ 
    background: linear-gradient(-120deg, #3A3897, #A3A1FF, white);
}
.themSi, .themLe{
    background: white;
    border-top: 2px solid #ccc;
    /* height: 600px; */
}
.navTabs .menu{
    /* border: 2px solid black;  */
    
    /* border-bottom: 0; */
    padding: 1rem 3rem 0.5rem;
    overflow: hidden;
    /* background: white; */
    border-radius: 5px 5px 0 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.menu2{
    padding: 1rem 3rem 0.5rem;
}
.menu-active{
    box-shadow: -1px -3px 3px #8c8b8b;
    background: white;
}
.react-calendar{
    width: 100%!important;
    border: 0!important;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 6px, rgba(0, 0, 0, 0.19) 0px 3px 6px;
    
}
.react-calendar__navigation{
    background: rgb(242, 242, 242)!important;
}
.react-timekeeper>span{
    display: none!important;
}
@media screen and (max-width: 600px) {
    .trangdangnhap{
        width: 80%;
    } 
}
::-webkit-scrollbar { 
    display: none; 
}
#menu-left-mini{
    width: 70px;
    background: linear-gradient(180deg, #3A3897 100%, #A3A1FF);
    color: white;
    box-shadow: 0px 0px 8px black;
    display: flex;
    z-index: 9999;
    position: fixed;
    display: none;
    overflow: scroll;
    height: 700px;
}
#menu-left-mini ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu-left-mini ul>li>a{
    text-decoration: none;
}
#menu-left-mini ul>li.active, #menu-left-mini ul>li:hover{
    border-right: 5px solid white;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    display: inline-block;
    width: 100%;
    transition: all 0.2s;
}
#menu-left-mini ul>li{
    width: 100%; 
    /* background: wheat; */
    text-align: center; 
    padding: 1rem 0;
}
div.icon-menu>i{
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 0;
}
div.icon-menu>p{
    margin: 0;
    color: white;
}
.img-admin-logo img{
    width: 50px; 
    height: 50px;
    background: white; 
}
.table-kinhphi, .table-vipham{
    /* position: absolute;
    width: 650px; 
    left: 50%;
    transform: translate(-100%,0%);
    background: rgba(7, 7, 7, 0.35);
    z-index: 1;
    box-shadow: 0 0 10px; */
    position: absolute;
    width: 1852px;
    height: 350vh;
    left: 0;
    top: 0;
    padding: 56px 488px;
    transform: translate(-72%,0%);
    /* background: rgba(7, 7, 7, 0.35); */
    z-index: 1;
    /* box-shadow: 0 0 10px; */
}
.btn-xemthem{
    background: #9F9DFB;
    border: 0;
    padding: 4px 0.5rem;
    box-shadow: 2px 2px 5px;
    margin-top: 3px;
}
.yeucau-data{
    padding: 1rem;
    box-shadow: 0 0 10px;
    background: white;
    margin: 0rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
}
.yeucau-data h5{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.tableSV{
    border-collapse: collapse;
  width: 100%;
  margin: 10px
}
.tableSV th, td {
    text-align: left;
    padding: 10px;
  }
.tableSV th label, .tableSV td label,.tableSV tr label{
    font-size: 21px;
    padding-left: 20px;
    display: inherit;
} 
.tableSV tr:nth-child(even) {background-color: #f2f2f2; }
.itemYeuCau{
    background: lavender;
    padding: 20px;
    margin: 0 auto;
    font-size: 16px;
}
.itemYeuCau h6{ 
    font-size: 20px;
}
.itemYeuCau a{ 
    font-weight: 600;
}
a.quaylai{
    font-weight: 600;
    font-size: 20px;
}
.css-2b097c-container{
    text-align: left;
} 
/* ----------------------------------------------------------------------------------------------- */
/* Animation */
@keyframes left_to_right{
    from{
        transform: translate(-300px, 0)
    }
    to{
        transform: translate(0, 0)
    }
}
@keyframes right_to_left{
    0%{
        transform: translate(0px, 0)
    }
    100%{
        left: -1000px;
        display: none;
    }
}
.wrapper{
    height: 100%;
}
.not-active{
    pointer-events: none;
    cursor: default;
    background: rgba(0, 0, 0, 0.8);
}
/* ----------------------------------------------------------------------------------------------- */
/* @keyframes menu */